# Data files (keep directory structure with .gitkeep)                                                                                                                    
data/**                                                                                                                                                                  
!data/**/.gitkeep
!data/silver

**/logs/**                                                                                                                                                                      
!**/logs/.gitkeep

**/__pycache__/
.venv/
