data/*                                                                                                                                                                      
!data/.gitkeep

**/logs/*                                                                                                                                                                      
!**/logs/.gitkeep

**/__pychache__