# Ignore raw and bronze data, keep silver data and directory .gitkeeps
data/raw/*
!data/raw/.gitkeep

data/bronze/*
!data/bronze/.gitkeep
!data/bronze/quarantine/
data/bronze/quarantine/*
!data/bronze/quarantine/.gitkeep

notebooks/outputs/**
!notebooks/outputs/.gitkeep

**/logs/**
!**/logs/.gitkeep

__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.pytest_cache/
.venv/

